openapi: 3.1.0
info:
  title: Farmish API
  version: 0.1.0
  summary: Farmish Ghana agricultural marketplace API.
  description: |
    Contract-first HTTP API for Farmish. This file is the source of truth:
    Go server types are generated from it (`make generate`), and requests are
    validated against it at runtime.

    Conventions:
    - JSON properties and query parameters are camelCase.
    - Money is always integer pesewas (`Money.amount`) plus `currency: GHS`.
    - Errors use one envelope: `{"error": {"code", "message", "details?"}}`.
      `code` is a stable snake_case identifier; `message` is human-readable
      and may change.
    - List endpoints take `page` (from 1) and `limit` (1-50) and return `PageMeta`.
    - Authenticated endpoints take a Firebase ID token as `Authorization: Bearer <token>`.
      Every operation requires it unless it declares `security: []`. Missing,
      expired or invalid tokens all get the same 401 `unauthorized` envelope.
    - `x-farmish-role: admin` on an operation additionally requires the admin
      role (403 `forbidden` otherwise). The server enforces exactly what the
      spec declares.
    - `x-farmish-step-up: true` on an operation requires a fresh sign-in
      (Firebase `auth_time` within 5 minutes) verified with a revocation
      check. A stale sign-in gets 401 `reauth_required` with
      `WWW-Authenticate: Bearer error="insufficient_user_authentication"`,
      so the client knows to sign the user in again. Missing or invalid
      tokens still get the generic 401 `unauthorized`.
    - Rate limits: every request (except the health probes) is limited per
      client address, and signed-in requests per user. `x-farmish-rate-limit:
      sensitive` adds a stricter per-operation limit. Over the limit: 429
      `rate_limited` with `Retry-After`. Responses carry `X-RateLimit-Limit`,
      `X-RateLimit-Remaining` and `X-RateLimit-Reset` (seconds).
    - `x-farmish-turnstile: true` requires a Cloudflare Turnstile token in the
      `X-Turnstile-Token` header; a missing or rejected token gets 400
      `turnstile_failed`.
  contact:
    name: Farmish Ghana
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://api.farmish.gh
    description: Production (local development runs on http://localhost:8080)
security:
  - bearerAuth: []
tags:
  - name: system
    description: Liveness and readiness probes.
  - name: me
    description: The signed-in user's own account.
  - name: sellers
    description: Seller profiles and verification.
  - name: catalog
    description: Categories, attributes and Ghana locations.
  - name: media
    description: Presigned uploads to object storage.
  - name: listings
    description: Seller listings. Public browsing is Phase 12.
  - name: admin
    description: Admin dispute resolution and order inspection.
paths:
  /healthz:
    get:
      tags: [system]
      operationId: getHealthz
      summary: Liveness probe
      description: Returns 200 while the process can serve HTTP. Checks no dependencies.
      security: []
      responses:
        "200":
          description: The process is alive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
  /readyz:
    get:
      tags: [system]
      operationId: getReadyz
      summary: Readiness probe
      description: Returns 200 when the database answers a ping within 2 seconds, otherwise 503.
      security: []
      responses:
        "200":
          description: Ready to serve traffic.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          $ref: "#/components/responses/Unavailable"
  /v1/me:
    get:
      tags: [me]
      operationId: getMe
      summary: Get my account
      description: |
        Returns the signed-in user's account. The first call after a Firebase
        sign-in creates it.
      responses:
        "200":
          description: The signed-in user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      tags: [me]
      operationId: updateMe
      summary: Update my account
      description: Updates editable profile fields. Email and phone are managed through Firebase.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMeRequest"
      responses:
        "200":
          description: The updated user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/me/seller-profile:
    get:
      tags: [sellers]
      operationId: getMySellerProfile
      summary: Get my seller profile
      description: Returns the signed-in user's seller profile, or 404 when they never created one.
      responses:
        "200":
          description: The caller's seller profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    put:
      tags: [sellers]
      operationId: updateMySellerProfile
      summary: Create or edit my seller profile
      description: |
        Creates the profile on first call, edits it afterwards. Submitting
        or changing idType/idNumber encrypts the number, stores its last 4
        and (re)submits the profile for verification. Editing other fields
        never changes the verification status.
      x-farmish-rate-limit: sensitive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SellerProfileInput"
      responses:
        "200":
          description: The saved seller profile. Never contains the ID number.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerProfile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/sellers/{userId}:
    get:
      tags: [sellers]
      operationId: getPublicSeller
      summary: Get a seller's public profile
      description: Safe projection only, without contact, identity or account fields.
      security: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The seller's public profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicSeller"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/sellers:
    get:
      tags: [sellers]
      operationId: listAdminSellers
      summary: List seller profiles by verification status
      description: Admin review queue, oldest submission first.
      x-farmish-role: admin
      parameters:
        - name: status
          in: query
          required: true
          schema:
            type: string
            enum: [unverified, pending, verified, rejected]
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of seller profiles with owner contact fields.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerProfileAdminList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/sellers/{userId}/verification:
    post:
      tags: [sellers]
      operationId: verifySeller
      summary: Approve or reject a seller
      description: |
        Decides a pending profile. Approve verifies it; reject needs a
        reason. Anything not pending gets 409.
      x-farmish-role: admin
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifySellerRequest"
      responses:
        "200":
          description: The decided profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerProfileAdmin"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/disputes:
    get:
      tags: [admin]
      operationId: listAdminDisputes
      summary: List disputes for review
      description: |
        Open disputes oldest first. An optional status filters to open or
        resolved cases.
      x-farmish-role: admin
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/DisputeStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of disputes with their orders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeAdminList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/disputes/{id}:
    get:
      tags: [admin]
      operationId: getAdminDispute
      summary: Get one dispute with its order
      description: The dispute plus the full order detail and its events.
      x-farmish-role: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The dispute with its order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeAdmin"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/disputes/{id}/resolve:
    post:
      tags: [admin]
      operationId: resolveDispute
      summary: Resolve a dispute
      description: |
        Refund the buyer in full, release the held escrow to the seller, or
        refund part and release the remainder. A partial resolution needs a
        refundAmount below the order's remaining escrow; the release waits
        until the partial refund is processed. Resolving twice is a 409.
      x-farmish-role: admin
      x-farmish-rate-limit: sensitive
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveDisputeRequest"
      responses:
        "200":
          description: The resolved dispute with its order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeAdmin"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/orders/{id}:
    get:
      tags: [admin]
      operationId: getAdminOrder
      summary: Get one order with contacts and ledger
      description: |
        The order detail plus both parties' contact fields and the ledger
        entries posted for the order.
      x-farmish-role: admin
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: The order, admin-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOrderDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/refunds/{id}/retry:
    post:
      tags: [admin]
      operationId: retryRefund
      summary: Retry a failed refund
      description: |
        A failed refund goes back to queued and its Paystack call is
        re-enqueued. Anything not failed, or a refund refused after release,
        is a 409.
      x-farmish-role: admin
      x-farmish-rate-limit: sensitive
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The re-queued refund.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Refund"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/categories:
    get:
      tags: [catalog]
      operationId: listCategories
      summary: List the category tree
      description: Active parents with their active children, in sort order.
      security: []
      responses:
        "200":
          description: The category tree.
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryList"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/categories/{slug}:
    get:
      tags: [catalog]
      operationId: getCategory
      summary: Get one category
      description: Group, item states, units and attributes resolve through the parent for children.
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The category detail.
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryDetail"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/locations:
    get:
      tags: [catalog]
      operationId: getLocations
      summary: List Ghana regions with district suggestions
      description: The 16 regions with suggested districts (unknown districts are still accepted).
      security: []
      responses:
        "200":
          description: Regions with district suggestions.
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Locations"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/categories:
    post:
      tags: [catalog]
      operationId: createCategory
      summary: Create a category
      description: A parent needs a listing group; a child takes its parent's. The slug is generated unless given.
      x-farmish-role: admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCategoryRequest"
      responses:
        "201":
          description: The created category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/categories/{id}:
    patch:
      tags: [catalog]
      operationId: updateCategory
      summary: Edit a category
      description: Name, icon, sort order and the active flag. The slug and group never change here.
      x-farmish-role: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCategoryRequest"
      responses:
        "200":
          description: The updated category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/categories/{id}/attributes:
    post:
      tags: [catalog]
      operationId: createCategoryAttribute
      summary: Add an attribute to a category
      description: A taken key on the same category gets 409.
      x-farmish-role: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAttributeRequest"
      responses:
        "201":
          description: The created attribute.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryAttribute"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/admin/categories/{id}/attributes/{attributeId}:
    patch:
      tags: [catalog]
      operationId: updateCategoryAttribute
      summary: Edit an attribute
      description: Scoped to the category (an attribute of another category reads as missing).
      x-farmish-role: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: attributeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAttributeRequest"
      responses:
        "200":
          description: The updated attribute.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryAttribute"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      tags: [catalog]
      operationId: deleteCategoryAttribute
      summary: Delete an attribute
      x-farmish-role: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: attributeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: The attribute is gone.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/webhooks/paystack:
    post:
      tags: [payments]
      operationId: paystackWebhook
      summary: Paystack webhook
      description: |
        Where Paystack posts payment events. The `x-paystack-signature`
        header must be a valid HMAC-SHA512 of the raw body under the secret
        key; a missing or wrong signature is a 401 and the body is never
        parsed or stored.

        Delivery is at-least-once, so every event is keyed
        `<event>:<data.id>` and a repeat is answered 200 without a second
        effect. An event Farmish does not handle is recorded and ignored. A
        rejected event (the amount or currency is not what we expected) is
        recorded and answered 200 too, because retrying it will not change
        the answer. Only an internal failure answers 5xx, so Paystack retries.
      security: []
      requestBody:
        required: true
        description: |
          Paystack's event envelope. Deliberately loose: the fields that
          matter are verified in the service, and modelling the whole payload
          here would tie the contract to a provider's internals.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: |
            Accepted. The event was processed, was a duplicate, or was ignored.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/payments/{reference}:
    get:
      tags: [payments]
      operationId: getPaymentStatus
      summary: Get a payment's status
      description: |
        The caller's own payment. A reference that does not exist and one that
        belongs to somebody else both answer 404, so this cannot be used to
        discover that a reference is real.

        If the payment is still pending and old enough that the buyer should
        have finished, this asks Paystack whether the money arrived and
        settles it if so, so a lost webhook does not leave a buyer stuck.
      parameters:
        - name: reference
          in: path
          required: true
          description: The payment reference, e.g. `FMS-abc...`.
          schema:
            type: string
            minLength: 1
            maxLength: 64
      responses:
        "200":
          description: The payment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/PaymentProviderError"
  /v1/promotions/configs:
    get:
      tags: [promotions]
      operationId: listPromotionConfigs
      summary: List promotion packages
      description: |
        The four active packages, in display order. Public and cacheable for
        five minutes.
      security: []
      responses:
        "200":
          description: The active promotion packages.
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromotionConfigList"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/promotions/purchases:
    post:
      tags: [promotions]
      operationId: purchasePromotion
      summary: Buy a promotion package
      description: |
        Any authenticated buyer may purchase. The tier price is grossed up
        server-side, and the tier's current credit count is snapshotted with
        the payment. Applying the package to a listing is a separate call and
        requires owning an active listing.
      x-farmish-rate-limit: sensitive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchasePromotionRequest"
      responses:
        "201":
          description: The created payment and where to complete it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromotionPurchase"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/PaymentProviderError"
  /v1/me/promotion-credits:
    get:
      tags: [promotions]
      operationId: getMyPromotionCredits
      summary: Get my promotion credit balance
      description: The caller's CRD balance as a positive display number.
      responses:
        "200":
          description: The balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromotionBalance"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/promotions/applications:
    post:
      tags: [promotions]
      operationId: applyPromotion
      summary: Promote one of my listings
      description: |
        Spends the requested tier's credits and inserts a promotion window.
        The same tier queues behind the current window. A higher tier replaces
        it immediately and forfeits the remaining time. A lower tier while a
        higher tier is active is rejected.
      x-farmish-rate-limit: sensitive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyPromotionRequest"
      responses:
        "201":
          description: The created promotion window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromotionApplication"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/me/listings/{id}/promotions:
    get:
      tags: [promotions]
      operationId: listMyListingPromotions
      summary: List one of my listings' promotions
      description: The listing's promotion history, newest effective window first.
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: The promotion history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromotionApplicationList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/checkout/quote:
    post:
      tags: [checkout]
      operationId: quoteCheckout
      summary: Quote a cart
      description: |
        Prices a cart from server-side snapshots. Cart lines carry quantities
        only; prices, availability, activity and category relationships come
        from the database. Nothing is reserved and no checkout or order rows
        are created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutQuoteRequest"
      responses:
        "200":
          description: The priced cart. Commission is not exposed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutQuote"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/checkout:
    post:
      tags: [checkout]
      operationId: createCheckout
      summary: Create a checkout
      description: |
        Reserves stock, creates one order per seller and one payment, and
        starts a Paystack charge. Idempotent on the `Idempotency-Key` header:
        the same key with the same payload returns the stored answer, and the
        same key with a different payload is a 409. Nothing is priced from the
        request: prices come from the server-side snapshots.
      x-farmish-rate-limit: sensitive
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutQuoteRequest"
      responses:
        "201":
          description: The checkout was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutCreated"
        "200":
          description: |
            The stored answer for this idempotency key: the checkout already
            existed with the same payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/PaymentProviderError"
  /v1/checkouts/{id}:
    get:
      tags: [checkout]
      operationId: getCheckout
      summary: Get my checkout
      description: |
        The buyer's own checkout, for polling after the Paystack redirect. A
        checkout that is not the caller's reads as not found.
      parameters:
        - $ref: "#/components/parameters/CheckoutId"
      responses:
        "200":
          description: The checkout with its orders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/orders:
    get:
      tags: [orders]
      operationId: listMyOrders
      summary: List my purchases
      description: The caller's buyer orders, newest first.
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/OrderStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of the caller's orders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderSummaryList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/seller/orders:
    get:
      tags: [orders]
      operationId: listMySales
      summary: List my sales
      description: The caller's seller orders, newest first.
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/OrderStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of the caller's sales.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderSummaryList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/seller/orders/{id}/accept:
    post:
      tags: [orders]
      operationId: acceptOrder
      summary: Accept a paid order
      description: |
        The seller of the order only; anyone else gets a 404. Accepting starts
        fulfilment. A paid order that is not accepted within 48 hours
        auto-cancels with a refund.
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: The accepted order, seller-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "default":
          $ref: "#/components/responses/OrderActionError"
  /v1/seller/orders/{id}/reject:
    post:
      tags: [orders]
      operationId: rejectOrder
      summary: Refuse an order
      description: |
        The seller of the order only. Refusing cancels the order, restores the
        reserved stock and queues the buyer's refund. The reason is recorded
        in the event trail.
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderActionRequest"
      responses:
        "200":
          description: The cancelled order, seller-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "default":
          $ref: "#/components/responses/OrderActionError"
  /v1/seller/orders/{id}/ship:
    post:
      tags: [orders]
      operationId: shipOrder
      summary: Mark an order shipped
      description: |
        The seller of the order only. For pickup orders "shipped" means "ready
        for pickup". The optional tracking reference is shown to the buyer.
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShipOrderRequest"
      responses:
        "200":
          description: The shipped order, seller-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "default":
          $ref: "#/components/responses/OrderActionError"
  /v1/seller/orders/{id}/mark-delivered:
    post:
      tags: [orders]
      operationId: markOrderDelivered
      summary: Mark an order delivered
      description: |
        The seller of the order only. Delivery starts the 3-day window in
        which the buyer confirms receipt or opens a dispute; after that the
        order auto-completes and escrow releases.
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: The delivered order, seller-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "default":
          $ref: "#/components/responses/OrderActionError"
  /v1/orders/{id}/cancel:
    post:
      tags: [orders]
      operationId: cancelOrder
      summary: Cancel my purchase
      description: |
        The buyer of the order only, and only before the seller accepts. The
        stock goes back on sale and the seller is told the sale is off.
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderActionRequest"
      responses:
        "200":
          description: The cancelled order, buyer-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "default":
          $ref: "#/components/responses/OrderActionError"
  /v1/orders/{id}/confirm-receipt:
    post:
      tags: [orders]
      operationId: confirmOrderReceipt
      summary: Confirm I received my order
      description: |
        The buyer of the order only, on a shipped or delivered order.
        Confirming completes the order and queues the seller's escrow release.
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: The completed order, buyer-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "default":
          $ref: "#/components/responses/OrderActionError"
  /v1/orders/{id}/dispute:
    post:
      tags: [orders]
      operationId: disputeOrder
      summary: Open a dispute
      description: |
        The buyer of the order only, on a shipped or delivered order and
        before auto-completion. Opening a dispute stops the 3-day
        auto-complete clock; escrow stays held until our team resolves the
        case.
      x-farmish-rate-limit: sensitive
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeOrderRequest"
      responses:
        "200":
          description: The disputed order, buyer-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "default":
          $ref: "#/components/responses/OrderActionError"
  /v1/orders/{id}:
    get:
      tags: [orders]
      operationId: getOrder
      summary: Get one order
      description: |
        The buyer or the seller of the order; anyone else gets a 404. The
        seller sees the recipient name, the recipient phone, the commission
        and the seller net. The buyer sees the seller's public profile and no
        commission.
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: The order, role-shaped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/media/upload-url:
    post:
      tags: [media]
      operationId: createMediaUploadUrl
      summary: Get a presigned upload URL
      description: |
        Returns a short-lived presigned PUT for one image. The client PUTs
        the bytes straight to object storage, sending exactly the returned
        headers: `Content-Type` and `Content-Length` are signed, so a
        different body is rejected by storage. The returned URL is a secret
        (valid 10 minutes) and must not be logged or shared.
      x-farmish-rate-limit: sensitive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUploadUrlRequest"
      responses:
        "200":
          description: The presigned upload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaUpload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/listings:
    get:
      tags: [listings]
      operationId: searchListings
      summary: Search and browse listings
      description: |
        Active, unexpired listings, promoted ones first (DOMAIN §6) and then
        by the requested sort. Anonymous callers are allowed; the response
        never contains a seller's contact details. Cacheable for 30 seconds,
        and a matching `If-None-Match` returns 304 with no body.
      security: []
      parameters:
        - name: q
          in: query
          description: Free text, matched against the title and description.
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - name: category
          in: query
          description: Category slug. A parent includes all its children.
          schema:
            type: string
            maxLength: 80
        - name: region
          in: query
          schema:
            $ref: "#/components/schemas/GhanaRegion"
        - name: district
          in: query
          schema:
            type: string
            maxLength: 80
        - name: minPrice
          in: query
          description: Lowest price, in pesewas.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: maxPrice
          in: query
          description: Highest price, in pesewas.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: itemState
          in: query
          schema:
            type: string
            maxLength: 40
        - name: sort
          in: query
          description: |
            `relevance` needs `q`; without it the sort falls back to `newest`.
          schema:
            type: string
            enum: [relevance, newest, price_asc, price_desc]
            default: newest
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - name: If-None-Match
          in: header
          description: |
            A validator from an earlier response. When it still matches, the
            server answers 304 with no body.
          schema:
            type: string
      responses:
        "200":
          description: A page of listings.
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingSearchResult"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      tags: [listings]
      operationId: createListing
      summary: Create a listing
      description: |
        Creates a listing for the signed-in seller, who must have a seller
        profile (403 `seller_profile_required` otherwise). With
        `publish: true` the listing goes live in the same request and must be
        complete (at least one image, every required attribute).
      x-farmish-rate-limit: sensitive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateListingRequest"
      responses:
        "201":
          description: The created listing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListing"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/listings/{slug}:
    get:
      tags: [listings]
      operationId: getPublicListing
      summary: Get one listing for a buyer
      description: |
        The public listing page: the summary plus the detail fields and the
        safe seller projection. A listing that is not active, or is expired,
        is a 404 so a stale link never shows a dead page. No phone, email or
        other contact detail appears here: the contact endpoint is the only
        way to see a seller's number, and only when the seller opted in.

        A view is counted asynchronously (`listings.count_view`), so this
        stays a cheap read. Cacheable for 60 seconds.
      security: []
      parameters:
        - $ref: "#/components/parameters/ListingSlug"
        - name: If-None-Match
          in: header
          description: |
            A validator from an earlier response. When it still matches, the
            server answers 304 with no body.
          schema:
            type: string
      responses:
        "200":
          description: The listing.
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingDetail"
        "304":
          $ref: "#/components/responses/NotModified"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/listings/{id}/contact:
    post:
      tags: [listings]
      operationId: revealListingContact
      summary: Show a seller's contact details
      description: |
        Returns only the fields the seller opted into: `phone` when
        `showPhone` is set, `whatsapp` when `showWhatsapp` is. A seller who
        opted out of both gets `{}`. Asking about your own listing is a 403,
        and a listing that is not browsable is a 404. Every reveal is counted
        in the listing's `contactCount`.
      x-farmish-rate-limit: sensitive
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: The opted-in contact details; absent fields are omitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingContact"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/me/listings:
    get:
      tags: [listings]
      operationId: listMyListings
      summary: List my listings
      description: The signed-in seller's listings, newest first.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, sold, expired, archived, suspended]
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of listing summaries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListingSummaryList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/me/listings/{id}:
    get:
      tags: [listings]
      operationId: getMyListing
      summary: Get one of my listings
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: The listing, with images and attribute values.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      tags: [listings]
      operationId: updateListing
      summary: Edit one of my listings
      description: |
        Every field is optional; omitted fields keep their value. The merged
        result is validated as a whole, and changing the category re-validates
        the attributes. A suspended listing cannot be edited (409).
      parameters:
        - $ref: "#/components/parameters/ListingId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateListingRequest"
      responses:
        "200":
          description: The updated listing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListing"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      tags: [listings]
      operationId: deleteListing
      summary: Delete a draft listing
      description: Drafts only; archive anything else so its history survives (409).
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "204":
          description: The draft is gone.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/me/listings/{id}/publish:
    post:
      tags: [listings]
      operationId: publishListing
      summary: Publish a listing
      description: Draft, archived or expired becomes active for 30 days. Needs an image and every required attribute.
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: The published listing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListing"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/me/listings/{id}/renew:
    post:
      tags: [listings]
      operationId: renewListing
      summary: Renew a listing
      description: Active or expired becomes active again for another 30 days.
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: The renewed listing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/me/listings/{id}/mark-sold:
    post:
      tags: [listings]
      operationId: markListingSold
      summary: Mark a listing as sold
      description: Active listings only (409 otherwise).
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: The sold listing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/me/listings/{id}/archive:
    post:
      tags: [listings]
      operationId: archiveListing
      summary: Archive a listing
      description: Active or expired listings are hidden. Publish or renew brings it back.
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: The archived listing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID token.
  parameters:
    ListingId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: |
        A client-generated uuid. The same key with the same payload replays
        the stored checkout; the same key with a different payload is a 409.
      schema:
        type: string
        format: uuid
    CheckoutId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrderId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ListingSlug:
      name: slug
      in: path
      required: true
      description: The listing's public slug.
      schema:
        type: string
        minLength: 1
        maxLength: 200
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      description: Page size.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 50
        default: 20
  responses:
    BadRequest:
      description: The request is malformed or fails validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing, expired or invalid credentials.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated, but not allowed to do this.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: The resource does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: The resource is in a state that forbids this action.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotModified:
      description: |
        The client's `If-None-Match` still matches, so the cached copy stands.
        Sent with no body.
      headers:
        Cache-Control:
          $ref: "#/components/headers/Cache-Control"
        ETag:
          $ref: "#/components/headers/ETag"
    TooManyRequests:
      description: Rate limit exceeded. Retry after `Retry-After` seconds.
      headers:
        Retry-After:
          description: Seconds until a request will be allowed.
          schema:
            type: integer
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    PaymentProviderError:
      description: |
        The payment provider could not be reached or refused the request. No
        money moved: the buyer can retry.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    OrderActionError:
      description: |
        400 validation_failed, 403 forbidden (wrong party for this order),
        404 not found (including not a party), 409 invalid_transition (with
        `from` and `to` in the details). The body is the shared error
        envelope.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unavailable:
      description: A dependency is unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  headers:
    Cache-Control:
      description: How long a shared cache may reuse the response.
      schema:
        type: string
    ETag:
      description: A weak validator over the exact response body.
      schema:
        type: string
    X-RateLimit-Limit:
      description: Burst capacity of the limit that applied.
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Requests left before limiting.
      schema:
        type: integer
    X-RateLimit-Reset:
      description: Seconds until the limit is fully replenished.
      schema:
        type: integer
  schemas:
    HealthStatus:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok]
    Error:
      type: object
      description: The single error envelope used by every endpoint.
      required: [error]
      properties:
        error:
          $ref: "#/components/schemas/ErrorBody"
    ErrorBody:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            Stable snake_case error code: `bad_request`, `validation_failed`,
            `unauthorized`, `reauth_required`, `forbidden`, `not_found`,
            `method_not_allowed`, `rate_limited`, `turnstile_failed`,
            `invalid_transition`, `seller_profile_required`,
            `listing_suspended`, `internal_error`, `unavailable`.
            `reauth_required` means the sign-in is too old for a step-up
            operation; `invalid_transition` and `listing_suspended` are
            state conflicts (409).
          examples: [validation_failed]
        message:
          type: string
          description: Human-readable summary. Do not parse.
          examples: [Request validation failed]
        details:
          type: array
          description: Per-field problems, present for `validation_failed`.
          items:
            $ref: "#/components/schemas/ErrorDetail"
    ErrorDetail:
      type: object
      required: [location, message]
      properties:
        location:
          type: string
          enum: [path, query, header, cookie, body]
        field:
          type: string
          description: Parameter name, or a JSON pointer into the body (e.g. `/items/0/qty`).
          examples: [/items/0/qty]
        message:
          type: string
          examples: [must be >= 1]
    Me:
      type: object
      description: The signed-in user's own view of their account. Never returned for other users.
      required: [id, emailVerified, signupMethod, role, sellerVerified, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          description: Present when the Firebase account has an email.
        emailVerified:
          type: boolean
        phone:
          type: string
          description: E.164 phone number, present for phone sign-ins.
          examples: ["+233241234567"]
        displayName:
          type: string
        signupMethod:
          type: string
          enum: [social, email, phone]
        role:
          type: string
          enum: [user, admin]
        sellerVerified:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UpdateMeRequest:
      type: object
      additionalProperties: false
      required: [displayName]
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 80
          pattern: '\S'
          description: Leading/trailing whitespace is trimmed; must contain a non-space character.
    SellerProfileInput:
      type: object
      description: Create-or-edit model for the caller's seller profile. idType and idNumber must be given together.
      additionalProperties: false
      required: [businessName, region, district]
      properties:
        businessName:
          type: string
          minLength: 2
          maxLength: 120
        region:
          type: string
          enum: [Ahafo, Ashanti, Bono, Bono East, Central, Eastern, Greater Accra, North East, Northern, Oti, Savannah, Upper East, Upper West, Volta, Western, Western North]
        district:
          type: string
          minLength: 2
          maxLength: 80
        bio:
          type: string
          maxLength: 1000
        showPhone:
          type: boolean
        showWhatsapp:
          type: boolean
        whatsapp:
          type: string
          description: Raw input; normalised server-side to E.164 (+233 followed by 9 digits).
        idType:
          type: string
          enum: [ghana_card, passport, voters_id, drivers_license]
        idNumber:
          type: string
          minLength: 4
          maxLength: 30
          pattern: '^[A-Za-z0-9-]+$'
    SellerProfile:
      type: object
      description: The owner's view of their seller profile. Never contains the ID number, only its last 4.
      required: [businessName, region, district, showPhone, showWhatsapp, verificationStatus]
      properties:
        businessName:
          type: string
        region:
          type: string
        district:
          type: string
        bio:
          type: string
        showPhone:
          type: boolean
        showWhatsapp:
          type: boolean
        whatsapp:
          type: string
          description: E.164 number, present when the seller set one.
        verificationStatus:
          type: string
          enum: [unverified, pending, verified, rejected]
        idType:
          type: string
          enum: [ghana_card, passport, voters_id, drivers_license]
        idNumberLast4:
          type: string
          description: Masked ID number (last 4) for the owner and admins.
        submittedAt:
          type: string
          format: date-time
        reviewedAt:
          type: string
          format: date-time
        rejectionReason:
          type: string
    GhanaRegion:
      type: string
      description: One of Ghana's 16 regions.
      enum: [Ahafo, Ashanti, Bono, Bono East, Central, Eastern, Greater Accra, North East, Northern, Oti, Savannah, Upper East, Upper West, Volta, Western, Western North]
    ListingCategoryRef:
      type: object
      required: [slug, name]
      properties:
        slug:
          type: string
        name:
          type: string
    ListingSellerRef:
      type: object
      description: Just enough seller to render a result row.
      required: [name, verified]
      properties:
        name:
          type: string
          description: The seller's business name.
        verified:
          type: boolean
    ListingPromotion:
      type: object
      description: A running promotion. Only the tier is public; the rank is internal.
      required: [tier]
      properties:
        tier:
          type: string
          enum: [top, vip, diamond, enterprise]
    ListingSummary:
      type: object
      description: One row of public search or browse.
      required: [id, slug, title, price, unit, region, district, itemState, category, promoted, seller, publishedAt]
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        title:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        unit:
          type: string
          description: The selling unit, e.g. `kg`, `bags`, `heads`.
        region:
          $ref: "#/components/schemas/GhanaRegion"
        district:
          type: string
        itemState:
          type: string
          description: The item's condition or grade, e.g. `grade_a`, `used`.
        category:
          $ref: "#/components/schemas/ListingCategoryRef"
        coverImageUrl:
          type: string
          description: The first image, if the seller added one.
        promoted:
          oneOf:
            - $ref: "#/components/schemas/ListingPromotion"
            - type: "null"
          description: Null when the listing is not promoted.
        seller:
          $ref: "#/components/schemas/ListingSellerRef"
        publishedAt:
          type: string
          format: date-time
    ListingImage:
      type: object
      required: [url, order]
      properties:
        url:
          type: string
        order:
          type: integer
          format: int32
          minimum: 0
    ListingAttribute:
      type: object
      required: [key, label, value]
      properties:
        key:
          type: string
        label:
          type: string
          description: The category's display label for this attribute.
        value:
          type: string
    ListingDeliveryOptions:
      type: object
      required: [pickup, sellerDelivery]
      properties:
        pickup:
          type: boolean
        sellerDelivery:
          type: boolean
        fee:
          oneOf:
            - $ref: "#/components/schemas/Money"
            - type: "null"
          description: The seller's delivery fee, when they offer delivery.
    ListingDetail:
      type: object
      description: |
        The public listing page. It repeats the `ListingSummary` fields
        because `seller` is the full safe projection here, then adds the
        detail a buyer needs. It never carries a phone number, an email
        address or any other contact detail: those come from the contact
        endpoint, and only when the seller opted in.
      required: [id, slug, title, price, unit, region, district, itemState, category, promoted, seller, publishedAt, description, quantityAvailable, minOrderQty, isNegotiable, deliveryOptions, images, attributes, expiresAt, favoriteCount]
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        title:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        unit:
          type: string
        region:
          $ref: "#/components/schemas/GhanaRegion"
        district:
          type: string
        itemState:
          type: string
        category:
          $ref: "#/components/schemas/ListingCategoryRef"
        coverImageUrl:
          type: string
        promoted:
          oneOf:
            - $ref: "#/components/schemas/ListingPromotion"
            - type: "null"
        seller:
          $ref: "#/components/schemas/PublicSeller"
        publishedAt:
          type: string
          format: date-time
        description:
          type: string
        quantityAvailable:
          type: integer
          format: int32
          minimum: 0
        minOrderQty:
          type: integer
          format: int32
          minimum: 1
        isNegotiable:
          type: boolean
        area:
          type: string
          description: The seller's area or landmark, when given.
        deliveryOptions:
          $ref: "#/components/schemas/ListingDeliveryOptions"
        images:
          type: array
          items:
            $ref: "#/components/schemas/ListingImage"
        attributes:
          type: array
          items:
            $ref: "#/components/schemas/ListingAttribute"
        expiresAt:
          type: string
          format: date-time
        favoriteCount:
          type: integer
          format: int32
          minimum: 0
    ListingSearchResult:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ListingSummary"
        meta:
          $ref: "#/components/schemas/PageMeta"
    ListingContact:
      type: object
      description: |
        Only the fields the seller opted into. Both are omitted when the
        seller shares neither, which is an empty object rather than an error.
      properties:
        phone:
          type: string
          description: E.164, present only when `showPhone` is set.
        whatsapp:
          type: string
          description: E.164, present only when `showWhatsapp` is set.
    PublicSeller:
      type: object
      description: Safe seller projection for anonymous callers.
      required: [userId, businessName, region, district, verified, memberSince]
      properties:
        userId:
          type: string
          format: uuid
        businessName:
          type: string
        region:
          type: string
        district:
          type: string
        bio:
          type: string
        verified:
          type: boolean
          description: True when the seller is verified.
        memberSince:
          type: string
          format: date-time
          description: When the seller's user account was created.
    SellerProfileAdmin:
      type: object
      description: The admin review view, with the owner's contact fields.
      required: [userId, businessName, region, district, showPhone, showWhatsapp, verificationStatus]
      properties:
        userId:
          type: string
          format: uuid
        displayName:
          type: string
        email:
          type: string
        phone:
          type: string
        businessName:
          type: string
        region:
          type: string
        district:
          type: string
        bio:
          type: string
        showPhone:
          type: boolean
        showWhatsapp:
          type: boolean
        whatsapp:
          type: string
        verificationStatus:
          type: string
          enum: [unverified, pending, verified, rejected]
        idType:
          type: string
          enum: [ghana_card, passport, voters_id, drivers_license]
        idNumberLast4:
          type: string
        submittedAt:
          type: string
          format: date-time
        reviewedAt:
          type: string
          format: date-time
        rejectionReason:
          type: string
    SellerProfileAdminList:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SellerProfileAdmin"
        meta:
          $ref: "#/components/schemas/PageMeta"
    VerifySellerRequest:
      type: object
      additionalProperties: false
      required: [decision]
      properties:
        decision:
          type: string
          enum: [approve, reject]
        reason:
          type: string
          maxLength: 500
          description: Required when rejecting (1-500 characters).
    CategoryNode:
      type: object
      description: One tree node. Children carry an empty children array.
      required: [id, name, slug, sortOrder, children]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        icon:
          type: string
        sortOrder:
          type: integer
          format: int32
        children:
          type: array
          items:
            $ref: "#/components/schemas/CategoryNode"
    CategoryList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CategoryNode"
    CategoryDetail:
      type: object
      description: One category. For a child, group, item states, units and attributes resolve through the parent.
      required: [id, name, slug, parent, group, itemStates, units, attributes]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        icon:
          type: string
        parent:
          type: ["object", "null"]
          required: [id, name, slug]
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            slug:
              type: string
        group:
          type: string
          enum: [equipment, quality, livestock, land, service]
        itemStates:
          type: array
          items:
            type: string
        units:
          type: array
          items:
            type: string
        attributes:
          type: array
          items:
            $ref: "#/components/schemas/CategoryAttribute"
    CategoryAttribute:
      type: object
      description: An attribute definition. The id addresses it in the admin attribute endpoints.
      required: [id, key, label, type, options, required]
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        label:
          type: string
        type:
          type: string
          enum: [text, number, boolean, select, date]
        options:
          type: array
          items:
            type: string
        required:
          type: boolean
    CreateCategoryRequest:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 80
        slug:
          type: string
          pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
        parentId:
          type: string
          format: uuid
        icon:
          type: string
        listingGroup:
          type: string
          enum: [equipment, quality, livestock, land, service]
        sortOrder:
          type: integer
          format: int32
    UpdateCategoryRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 80
        icon:
          type: string
        sortOrder:
          type: integer
          format: int32
        isActive:
          type: boolean
    CreateAttributeRequest:
      type: object
      additionalProperties: false
      required: [key, label, type]
      properties:
        key:
          type: string
          pattern: '^[a-z][a-z0-9_]{1,40}$'
        label:
          type: string
          minLength: 1
          maxLength: 80
        type:
          type: string
          enum: [text, number, boolean, select, date]
        options:
          type: array
          items:
            type: string
        required:
          type: boolean
        sortOrder:
          type: integer
          format: int32
    UpdateAttributeRequest:
      type: object
      additionalProperties: false
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 80
        type:
          type: string
          enum: [text, number, boolean, select, date]
        options:
          type: array
          items:
            type: string
        required:
          type: boolean
        sortOrder:
          type: integer
          format: int32
    Locations:
      type: object
      required: [regions]
      properties:
        regions:
          type: array
          items:
            $ref: "#/components/schemas/RegionDistricts"
    RegionDistricts:
      type: object
      required: [name, districts]
      properties:
        name:
          type: string
        districts:
          type: array
          items:
            type: string
    CreateUploadUrlRequest:
      type: object
      additionalProperties: false
      required: [purpose, contentType, sizeBytes]
      properties:
        purpose:
          type: string
          enum: [listing_image]
        contentType:
          type: string
          enum: [image/jpeg, image/png, image/webp]
        sizeBytes:
          type: integer
          format: int64
          minimum: 1
          maximum: 5242880
          description: Exact byte length of the upload (max 5 MB).
    MediaUpload:
      type: object
      description: A presigned upload plus the tracked object id.
      required: [mediaId, uploadUrl, method, headers, expiresAt, publicUrl]
      properties:
        mediaId:
          type: string
          format: uuid
          description: Pass this to the listing endpoint when the image is attached.
        uploadUrl:
          type: string
          description: Presigned PUT URL. A secret for 10 minutes; do not log.
        method:
          type: string
          enum: [PUT]
        headers:
          type: object
          additionalProperties:
            type: string
          description: Headers the client must send exactly (Content-Type, Content-Length).
          examples:
            - Content-Type: image/jpeg
              Content-Length: "204800"
        expiresAt:
          type: string
          format: date-time
        publicUrl:
          type: string
          description: Where the object is served from once uploaded.
    ListingDelivery:
      type: object
      description: Delivery options. At least one must be true; a seller-delivery fee is required exactly when sellerDelivery is on.
      additionalProperties: false
      required: [pickup, sellerDelivery]
      properties:
        pickup:
          type: boolean
        sellerDelivery:
          type: boolean
        sellerDeliveryFee:
          $ref: "#/components/schemas/Money"
    CreateListingRequest:
      type: object
      additionalProperties: false
      required: [categorySlug, title, description, price, unit, quantityAvailable, itemState, region, district, deliveryOptions]
      properties:
        categorySlug:
          type: string
        title:
          type: string
          minLength: 5
          maxLength: 100
        description:
          type: string
          minLength: 20
          maxLength: 5000
        price:
          $ref: "#/components/schemas/Money"
          description: Price per unit, in pesewas. Currency must be GHS.
        unit:
          type: string
          description: Must be one of the category's units.
        quantityAvailable:
          type: integer
          format: int32
          minimum: 0
        minOrderQty:
          type: integer
          format: int32
          minimum: 1
          default: 1
        isNegotiable:
          type: boolean
          default: true
        itemState:
          type: string
          description: Must be one of the category's item states.
        region:
          type: string
          enum: [Ahafo, Ashanti, Bono, Bono East, Central, Eastern, Greater Accra, North East, Northern, Oti, Savannah, Upper East, Upper West, Volta, Western, Western North]
        district:
          type: string
          minLength: 2
          maxLength: 80
        area:
          type: string
          maxLength: 120
        deliveryOptions:
          $ref: "#/components/schemas/ListingDelivery"
        attributes:
          type: object
          additionalProperties:
            type: string
          description: Attribute values keyed by the category's attribute keys.
        imageMediaIds:
          type: array
          maxItems: 10
          uniqueItems: true
          items:
            type: string
            format: uuid
          description: Media ids from POST /v1/media/upload-url, in display order.
        publish:
          type: boolean
          default: false
          description: Publish immediately (the listing must then be complete).
    UpdateListingRequest:
      type: object
      description: Every field is optional; omitted fields keep their value.
      additionalProperties: false
      minProperties: 1
      properties:
        categorySlug:
          type: string
        title:
          type: string
          minLength: 5
          maxLength: 100
        description:
          type: string
          minLength: 20
          maxLength: 5000
        price:
          $ref: "#/components/schemas/Money"
        unit:
          type: string
        quantityAvailable:
          type: integer
          format: int32
          minimum: 0
        minOrderQty:
          type: integer
          format: int32
          minimum: 1
        isNegotiable:
          type: boolean
        itemState:
          type: string
        region:
          type: string
          enum: [Ahafo, Ashanti, Bono, Bono East, Central, Eastern, Greater Accra, North East, Northern, Oti, Savannah, Upper East, Upper West, Volta, Western, Western North]
        district:
          type: string
          minLength: 2
          maxLength: 80
        area:
          type: string
          maxLength: 120
        deliveryOptions:
          $ref: "#/components/schemas/ListingDelivery"
        attributes:
          type: object
          additionalProperties:
            type: string
        imageMediaIds:
          type: array
          maxItems: 10
          uniqueItems: true
          items:
            type: string
            format: uuid
    SellerListingImage:
      type: object
      required: [mediaId, url, sortOrder]
      properties:
        mediaId:
          type: string
          format: uuid
        url:
          type: string
        sortOrder:
          type: integer
          format: int32
    SellerListingAttribute:
      type: object
      required: [key, value]
      properties:
        key:
          type: string
        value:
          type: string
        type:
          type: string
          enum: [text, number, boolean, select, date]
        required:
          type: boolean
    SellerListing:
      type: object
      description: The owner's view of a listing. Never exposes the seller's contact details.
      required: [id, categorySlug, title, slug, description, price, unit, quantityAvailable, minOrderQty, isNegotiable, itemState, status, region, district, offersPickup, offersSellerDelivery, images, attributes, viewCount, favoriteCount, contactCount, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        categorySlug:
          type: string
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        unit:
          type: string
        quantityAvailable:
          type: integer
          format: int32
        minOrderQty:
          type: integer
          format: int32
        isNegotiable:
          type: boolean
        itemState:
          type: string
        status:
          type: string
          enum: [draft, active, sold, expired, archived, suspended]
        region:
          type: string
        district:
          type: string
        area:
          type: string
        offersPickup:
          type: boolean
        offersSellerDelivery:
          type: boolean
        sellerDeliveryFee:
          $ref: "#/components/schemas/Money"
        publishedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        images:
          type: array
          items:
            $ref: "#/components/schemas/SellerListingImage"
        attributes:
          type: array
          items:
            $ref: "#/components/schemas/SellerListingAttribute"
        viewCount:
          type: integer
          format: int32
        favoriteCount:
          type: integer
          format: int32
        contactCount:
          type: integer
          format: int32
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SellerListingSummary:
      type: object
      required: [id, title, slug, categorySlug, price, quantityAvailable, status, imageCount, viewCount, favoriteCount, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        categorySlug:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        quantityAvailable:
          type: integer
          format: int32
        status:
          type: string
          enum: [draft, active, sold, expired, archived, suspended]
        imageCount:
          type: integer
          format: int32
        viewCount:
          type: integer
          format: int32
        favoriteCount:
          type: integer
          format: int32
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SellerListingSummaryList:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SellerListingSummary"
        meta:
          $ref: "#/components/schemas/PageMeta"
    PaymentStatus:
      type: object
      description: |
        A payment as the buyer sees it. Every amount is a `Money`, so the
        client formats for display and never does arithmetic.
      required: [reference, status, charge, processingFee, base]
      properties:
        reference:
          type: string
          description: Farmish's reference for this payment.
        status:
          type: string
          enum: [pending, success, failed, abandoned]
        base:
          $ref: "#/components/schemas/Money"
          description: What Farmish nets, before the processing fee.
        processingFee:
          $ref: "#/components/schemas/Money"
          description: |
            The fee grossed onto the buyer (DOMAIN §2.2). Non-refundable.
        charge:
          $ref: "#/components/schemas/Money"
          description: What the buyer was charged, which is the base plus the fee.
        paidAt:
          type: string
          format: date-time
          description: When the money arrived. Absent until it has.
        failureReason:
          type: string
          description: Why the payment did not succeed, when it did not.
    PromotionTier:
      type: string
      description: A promotion package.
      enum: [top, vip, diamond, enterprise]
    PromotionConfig:
      type: object
      description: One promotion package as buyers see it.
      required: [tier, name, price, credits, durationDays, featured, description, features]
      properties:
        tier:
          $ref: "#/components/schemas/PromotionTier"
        name:
          type: string
        price:
          $ref: "#/components/schemas/Money"
          description: Package price in pesewas, before the processing fee.
        credits:
          type: integer
          format: int32
          minimum: 1
        durationDays:
          type: integer
          format: int32
          minimum: 1
        featured:
          type: boolean
        description:
          type: string
        features:
          type: array
          items:
            type: string
    PromotionConfigList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PromotionConfig"
    PurchasePromotionRequest:
      type: object
      additionalProperties: false
      required: [tier]
      properties:
        tier:
          $ref: "#/components/schemas/PromotionTier"
    PromotionPurchase:
      type: object
      description: A newly created promotion payment and where to complete it.
      required: [reference, authorizationUrl, price, processingFee, charge, credits]
      properties:
        reference:
          type: string
        authorizationUrl:
          type: string
          format: uri
        price:
          $ref: "#/components/schemas/Money"
        processingFee:
          $ref: "#/components/schemas/Money"
        charge:
          $ref: "#/components/schemas/Money"
        credits:
          type: integer
          format: int32
          minimum: 1
    PromotionBalance:
      type: object
      description: A CRD balance as a positive display number.
      required: [balance]
      properties:
        balance:
          type: integer
          format: int32
          minimum: 0
    ApplyPromotionRequest:
      type: object
      additionalProperties: false
      required: [listingId, tier]
      properties:
        listingId:
          type: string
          format: uuid
        tier:
          $ref: "#/components/schemas/PromotionTier"
    PromotionApplication:
      type: object
      description: |
        One promotion window. A same-tier application queues behind the current
        window; replacement reports whether the old window had time remaining.
      required: [id, listingId, tier, startsAt, endsAt, creditsSpent]
      properties:
        id:
          type: string
          format: uuid
        listingId:
          type: string
          format: uuid
        tier:
          $ref: "#/components/schemas/PromotionTier"
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        creditsSpent:
          type: integer
          format: int32
          minimum: 0
        replacedRemaining:
          type: boolean
    PromotionApplicationList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PromotionApplication"
    CheckoutCartLine:
      type: object
      description: One requested quantity. Prices are never accepted here.
      additionalProperties: false
      required: [listingId, quantity]
      properties:
        listingId:
          type: string
          format: uuid
        quantity:
          type: integer
          format: int32
          minimum: 1
    CheckoutDelivery:
      type: object
      additionalProperties: false
      required: [sellerId, method]
      properties:
        sellerId:
          type: string
          format: uuid
        method:
          type: string
          enum: [pickup, seller_delivery, courier]
        address:
          type: string
          maxLength: 300
        region:
          type: string
          maxLength: 80
        district:
          type: string
          maxLength: 80
        recipientName:
          type: string
          maxLength: 120
        recipientPhone:
          type: string
          pattern: '^\+233[0-9]{9}$'
    CheckoutQuoteRequest:
      type: object
      additionalProperties: false
      required: [lines, delivery]
      properties:
        lines:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: "#/components/schemas/CheckoutCartLine"
        delivery:
          type: array
          items:
            $ref: "#/components/schemas/CheckoutDelivery"
    CheckoutQuoteItem:
      type: object
      required: [listingId, title, unit, unitPrice, quantity, lineTotal]
      properties:
        listingId:
          type: string
          format: uuid
        title:
          type: string
        unit:
          type: string
        unitPrice:
          $ref: "#/components/schemas/Money"
        quantity:
          type: integer
          format: int32
          minimum: 1
        lineTotal:
          $ref: "#/components/schemas/Money"
    CheckoutOrderQuote:
      type: object
      required: [sellerId, sellerName, items, subtotal, deliveryFee, base]
      properties:
        sellerId:
          type: string
          format: uuid
        sellerName:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/CheckoutQuoteItem"
        subtotal:
          $ref: "#/components/schemas/Money"
        deliveryFee:
          $ref: "#/components/schemas/Money"
        base:
          $ref: "#/components/schemas/Money"
    CheckoutQuote:
      type: object
      required: [orders, base, processingFee, charge]
      properties:
        orders:
          type: array
          items:
            $ref: "#/components/schemas/CheckoutOrderQuote"
        base:
          $ref: "#/components/schemas/Money"
        processingFee:
          $ref: "#/components/schemas/Money"
          description: The fee grossed onto the buyer. Non-refundable.
        charge:
          $ref: "#/components/schemas/Money"
    CheckoutCreated:
      type: object
      description: |
        A checkout and where to complete its payment. Replays return the same
        body with 200 instead of 201.
      required: [checkoutId, reference, authorizationUrl, quote, expiresAt]
      properties:
        checkoutId:
          type: string
          format: uuid
        reference:
          type: string
        authorizationUrl:
          type: string
          format: uri
        quote:
          $ref: "#/components/schemas/CheckoutQuote"
        expiresAt:
          type: string
[...]
